@import url('https://fonts.googleapis.com/css2?family=Jost&family=Poppins:wght@300&display=swap');
.app{
    font-family: 'Jost', sans-serif;
    border: none;
    margin: 0;
    padding: 0;
    .link{
        text-decoration: none;
        color: inherit;
    }
}